.card{
    width: 400px;
    height: 400px;
    display: inline-block;
    flex-wrap: wrap;
    font-size: medium;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
  }