.App {
  margin: 0px;
  display: grid;
  grid-template-columns: var(--logo-width) 1fr;
  grid-template-rows: 
    var(--cocntent-header-height) 1fr var(--cocntent-footer-height);
  grid-template-areas: 
    "logo menu"
    "content content"
    "footer footer";
  background-color: #f5f5f5;
}
aside.logo{
  grid-area: logo;
}

nav.menu{
  grid-area: menu;
}

div.content{
  grid-area: content;
}

:root{
  --bg-menu: #bdbbbb;
  --logo-width: 150px;
  --content-heather-height: 60px;
  --content-footer-height: 40px;
}

body{
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

footer.footer{
  grid-area: footer;
}
